<div class="main topics-index">
  <div class="container">
    <h1>contact</h1>
    <%= form_for(@contact) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <br>
    <%= f.submit %>
   <% end %>
  </div>
</div>

